/node_modules
/public/lampiran
/public/bukti_pembayaran
/public/file_so
/public/file_skpp
/public/faktur_pajak
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
