.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { 
    color: #4e73df !important;
    background: transparent !important;
    border-bottom: 3px solid #4e73df !important;
}

.nav-tabs .nav-link {
    border: none !important;
}

.nav-tabs {
    border-bottom: none;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-justified .nav-item {
    white-space: nowrap !important;
}

.align-right {
    text-align: right; 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.layout-overlay {
    height: 100px;
    overflow: hidden;
}

.table thead th {
    vertical-align: top !important;
}

.legend { 
    width: 50px;
    height: 10px;
    display: block;
    float: left;
    border-radius: 3px;
    margin-top: 6px;
    margin-right: 5px;
}

.bg-red {
    color: #ffffff;
    background-color: #f97f74;
    border-color: #f97f74;
}

.checkbox-yajra-custom .custom-control-label::before, 
.checkbox-yajra-custom .custom-control-label::after {
    top: .8rem;
    width: 1.25rem;
    height: 1.25rem;
}

.checkbox-yajra {
    top: -8px;
    left: 9px;
    padding: 0px !important;
    height: 0px !important;
}

.checkbox-yajra-custom {
    bottom: 8px;
    left: 8px;
}

.btn {
    /*border-color: #ffffff !important;*/
}

.font-15 {
    font-size: 15px;
}


.checkbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3px;
    position: relative;
    top: 6px;
}

.shadow-lg {
    box-shadow: 0 .15rem 100.75rem 100.1rem rgba(58, 59, 69, 0.45) !important;
}

.modal {
    overflow-y: auto !important;
}
 
/* Input field */
.select2-selection__rendered {  
    color: #858796 !important;
}
 
ol { margin-left: -23px !important; }    

.custom-pill {
    font-size: 14px; 
    font-weight: 500;
}











